.header {
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100;
    background-color: white;
    border-bottom: 1px solid rgb(238, 238, 238);
    box-shadow: 0px 0.15px 0.25px lightgray;
}

.left-section {
    display: flex;
    align-items: center;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 20px;
}

.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 30px;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 2px;
    width: 0px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.025);
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 60px;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgb(216, 216, 216);
    border-radius: 2px;
    margin-left: -2.4px;
    margin-right: 10px;
}
.search-button, 
.voice-button, 
.upload-icon-container,
.yt-apps-icon-container,
.notification-icon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-button .tooltip,
.voice-button .tooltip,
.upload-icon-container .tooltip,
.yt-apps-icon-container .tooltip,
.notification-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip ,
.voice-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.yt-apps-icon-container:hover .tooltip,
.notification-icon-container:hover .tooltip {
    opacity: 1;
}

.search-icon {
    height: 25px;
}

.voice-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(248, 248, 248);
}

.voice-icon {
    height: 24px;
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
    width: 180px;
    flex-shrink: 0;
}

.upload-icon {
    height: 24px;
}

.yt-apps {
    height: 24px;
}

.notifications-icon {
    height: 24px;
    padding-top: 6px;
}

.notification-icon-container {
    position: relative;
}

.notifications-count {
    background-color: rgb(204, 0, 0);
    border-radius: 80px;
    position: absolute;
    top: 3px;
    right: -7px;
    color: white;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    padding: 1.5px 5px;
    pointer-events: none;
}

.my-channel-icon {
    height: 32px;
    border-radius: 16px;
}