.thumbnail-row {
    position: relative;
}

.thumbnail {
    margin-bottom: 7px;
    width: 100%;
}

.video-time {
    font-size: 12px;
    font-weight: 500;
    padding: 4px 5px;
    border-radius: 1px;
    position: absolute;
    background-color: black;
    color: white;
    right: 4px;
    bottom: 20px;

}
.video-info-grid {
    display: grid;
    grid-template-columns: 48px 1fr;
}

.profile-picture {
    width: 36px;
    border-radius: 50px;
}

.video-title {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

.video-author, .video-stats {
    font-size: 12px;
    color: rgb(140, 140, 140);
}

.video-author {
    margin-top: 7px;
    line-height: 22px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 20px;
}

@media (max-width: 750px) {
    .video-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1000px) {
    .video-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}