.thumbnail {
    margin-bottom: 12px;
    width: 100%;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

.profile-picture {
    width: 40px;
    border-radius: 50px;
}

.video-title {
    font-size: 11px;
    font-weight: 500;
    line-height: 15px;
}

.video-author, .video-stats {
    font-size: 12px;
    color: rgb(96,96,96);
}

.video-author {
    margin-top: 8px;
    line-height: 16px;
}

.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}